	/* tabel-alumni */
	.table-margin {
		margin:0 auto;
	}
	.table-identitas {
		margin-top: 0px !important;
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	table { 
		margin-top: 10px !important;
		margin-bottom: 40px;
		border-collapse: collapse; 
	}
	/* Zebra striping */

	th { 
		background: #3498db; 
		color: white;
		border :1px solid #3498db !important; 
		padding:10px;
		font-size: 15px;
		text-transform: uppercase;
		text-align: center; 
		letter-spacing: 1px;
	}

	td { 
		padding: 13px;
		border: 1px solid #ccc; 
		text-align: center; 
		font-size: 14px;
	}

	@media 
	only screen and (max-width: 877px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		table { 
			margin-top: 40px !important;
			width: 100%; 
		}

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		th , td {
			text-align: left;
		}
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		.first {
			background-color: #3498db;
			color: #fff;
		}
		tr { 
			background-color: #f8f8f8; 
			margin-bottom: 30px;
		}

		td { 
			/* Behave  like a "row" */
			border: none;
			position: relative;
			padding-left: 50%; 
		}

		td:before { 
			position: absolute;
			top: 14px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			content: attr(data-column);
			color: #000;
			font-weight: bold;
		}
		td:first-child:before {
			color: #fff;
		}
	}
	/* alumni table */
	/* custom-input-alunmi */
	.input-group-btn:first-child > .btn{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.alumni-input {
		border-radius: 3px !important;
		margin-left: 8px;
	}
	/* custom-input-alunmi */