	.pagination > li > a {
		background-color: transparent;
		color: #011c38;
		border: 1px solid #dedede;
	}
	.pagination > li > a:hover , .pagination > li > a:focus {
		background-color:#011c38;
		border: 1px solid #011c38;
		color: #fff;
		transition: all 0.2s ease-in-out;
	}
	.zick {
		color: #011c38;
		font-family: inherit;
		font-size: 30px;
	}
	.zick span {
		color: #26baee;
		margin-left: 5px;
	}
	.zick:before {
		content: '';
		position: absolute;
		width: 24px;
		height: 1px;
		border-bottom: 2.5px solid #26baee;
		left: 10px;
		transform: translateY(32px);
	}
	/*  */
	.page {
		color: #011c38;
		font-family: inherit;
		font-size: 30px;	
	}
	.page:before {
		content: '';
		position: absolute;
		width: 24px;
		height: 1px;
		border-bottom: 2.5px solid #26baee;
		left: 15px;
		transform: translateY(32px);
	}
	.tautan {
		margin-bottom: 25px;
	}
	/*  */
	.tag {
		margin-top: 26px;
	}
	.tag-box {
		color: #011c38;
		font-family: inherit;
		font-size: 30px;
	}
	.tag-box:before {
		content: '';
		position: absolute;
		width: 24px;
		height: 1px;
		border-bottom: 2.5px solid #26baee;
		left: 15px;
		transform: translateY(363px);
	}
	@media (max-width: 767px) {
		.tag-box:before {
			transform: translateY(33px);
		}
	}
	@media (max-width: 991px) {
		.tag-box:before {
			transform: translateY(32px);
		}
	}
	/* tabel-alumni */
	.table-margin {
		margin:0 auto;
	}
	.table-identitas {
		margin-top: 0px !important;
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	table { 
		margin-top: 100px !important;
		margin-bottom: 40px;
		border-collapse: collapse; 
	}
	/* Zebra striping */

	th { 
		background: #3498db; 
		color: white;
		border :1px solid #3498db !important; 
		padding:14px;
		text-align: center; 
	}

	td { 
		padding: 14px;
		border: 1px solid #ccc; 
		text-align: center; 
		font-size: 15px;
	}
	
	@media 
	only screen and (max-width: 877px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		table { 
			margin-top: 40px !important;
			width: 100%; 
		}

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		th , td {
			text-align: left;
		}
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		.first {
			border: 1px solid #3498db;
			background-color: #3498db;
			color: #fff;
		}
		tr { 
			border: 1px solid #ccc; 
			margin-bottom: 30px;
		}

		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}

		td:before { 
			position: absolute;
			top: 14px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			content: attr(data-column);
			color: #000;
			font-weight: bold;
		}
		td:first-child:before {
			color: #fff;
		}
	}
	@media (max-width: 876px) {
		table {
			margin-top: 60px !important;
		}
	}
	@media (max-width: 767px) {
		table {
			margin-top: 40px !important;
		} 	
	}
	/* alumni table */
	/* custom-input-alunmi */
	.input-group-btn:first-child > .btn{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.alumni-input {
		border-radius: 3px !important;
		margin-left: 8px;
	}
	/* custom-input-alunmi */
